/*self explanatory*/
header {
  height: 32px;
  padding:25px;
  font-family: Georgia, Times, "Times New Roman", serif;
  border-bottom: 2px solid;
  border-bottom-color:#cccccc;
  color: #4aaaa5;
  background: #ffffff;
}

/*this is the part of my name*/
strong {
	padding:25px;
	margin-left:50px;
	color:white;
	font-size:28px;
	background:#4aaaa5;
}

/*navigation bars*/
#right {
	margin-right:50px;
	float: right;
	color:blue;
}

li, a {
	color:#777777;
	display: inline-block;
	text-decoration: none;
}


#full {
	height:600px;
	background-image: url("http://enjoycss.com/webshots/42u_0.png");
  	background-color: #cccccc;

}

/*about me*/
aside {
	width: 650px;
	height: 480px;
	margin-top: 20px;
	margin-left: 75px;
	float:left;
	background: #ffffff;
	border: solid 1px #dddddd;
	padding: 20px;

}

/*connect with me*/
#aside2{
	width: 270px;
	height:220px;
	background: #ffffff;
	float:right;
	border: solid 1px #dddddd;
	margin-top:20px;
	margin-right:50px;
	padding: 15px;
}

h2 {
	color: #4aaaa5;
	font-size:28px;
	border-bottom: 2px solid;
  	border-bottom-color:#cccccc;
  	padding-bottom:0px;	
}

h4 {
	font-family: arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#777777;
	font-size:14px;
	float:right;
	line-height: 300%;
}

h5 {
	padding-bottom:10px;
	color:#4aaaa5;
	font-size:26px;
	text-align:center;
}

hr {
	width:75%;
	background-color:#d3d3d3;
	height: 1px;
	border: 0;
}

/*3 icons for the links to linkedIn, stackoverflow, and github*/
#icons {
	text-align:center;
}

footer {
	height:64px;
	border-top: 4px solid;
  	border-top-color:#4aaaa5;
	background-color: #666666;
	color:white;
	text-align:center;
}

#mypic {
	float:left;
	padding-right:20px;
	padding-bottom:20px;
}

#form {
	float:left;
	margin-top:0px;
	padding-top:0px;
}

/*begins the css for contact me page*/
input[type=text] {
    width: 100%;
    padding: 6px 6px;
    margin: 8px 0px;
    box-sizing: border-box;
    font:arial;

}

input[type=submit] {
	font: arial;
	height: 48px;
	width: 128px;
	font-size:20px;
	text-align:center;
	border-style:none;
	background-color:#4aaaa5;
	color:white;
	margin-top:0px;
}

textarea {
	box-sizing:border-box;
	padding:6px 6px;
	border: solid 1px lightgrey;
}

/*begins the css for portfolio page*/
.box-set {
	position:absolute;
}

.box {
	width:250px;
	height:120px;
	position:relative;
}

.box4 {
	left: 330px;
	bottom: 410px;
}

.box5 {
	left: 330px;
	bottom: 410px;
}

.img1, .img2, .img3, .img4, .img5 {
	height: 30px;
	color:white;
	text-align:center;
	background:#4aaaa5;
	z-index:2;
	bottom: 40px;
	position:relative;
}


